/* styles.css */


/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;

    font-family: Arial, sans-serif;
    transition: margin-left 0.3s;
    padding: 0;
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: #222627;
    color: #fefefe;
    margin-left: 100px;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }

  }

body.sidebar-open {
    margin-left: 280px;
}

header {
    color: #fff;
    padding: 20px;
    text-align: left;
}

.subheading{
    color: lightgray;
    text-align: left;
}

main {
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    color: #fefefe;
    font-weight: bold;
}

input[type="file"] {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}



button {
    padding: 10px 20px;
    background-color: #004685;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#summarizeButton img {
    width: 20px; 
    height: 20px; 
    margin-left: 10px;
}

button:hover {
    background-color: #ee1c25;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#summary {
    border: 3px dotted #004685;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Buttons to select the document */
.container {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.selectDocButton {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 325px;
}

.selectDocButton img {
    mix-blend-mode: screen;
    padding: 10px 10px;
    border-radius: 10px;
    margin-right: 10px; 
    background: transparent;
}

.button-title {
    font-size: 18px;
}

.button-subtext {
    font-size: 14px; 
    color: lightgray; 
}

.button-text {
    display: flex;
    flex-direction: column;
}

.file-name {
    margin-top: 20px;
}

/* Language Select Dropdown */

.language-model-selection {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.language-model-selection select {
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    background-color: #004685; 
    color: #fff; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    font-family: Arial, sans-serif; 
}

label {
    margin-bottom: 20px;
}



/*-----------------------------------*\
  # FILE MANAGER
\*-----------------------------------*/

.file-input{
    display: none;
}

.file-list {
    padding: 10px;
    max-height: 500px;
    overflow-y: auto;
}

.file-item{
    margin-bottom: 5px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:5px;
    border:2px dashed #fff;
    border-radius: 5px;
}

.file-image {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    filter: brightness(0) invert(1);
}

.delete-button{
    cursor: pointer;
    filter: greyscale(100%);
    margin-left: auto;
}

.drag-drop-container{
    position: fixed;
    bottom: 120px;
    right: 20px;
    left: 300px;
    height: 150px;
    border: 2px dashed #004685;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: inline;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.drag-drop-container:hover{
    border: 5px dashed #004685;
}

.drag-drop-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.drop-text{
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}


/*-----------------------------------*\
  #SIDEBAR NEW
\*-----------------------------------*/

:root {
    /*--background: #219de2;*/
    --background: #f5f6fa;
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: transparent;
    --navbar-dark-secondary: #2c3e50;
    --navbar-light-primary: #f5f6fa;
    --navbar-light-secondary: lightgray; }

  
  #nav-toggle:checked ~ #nav-header {
    width: calc(var(--navbar-width-min) - 16px); }
  
  #nav-toggle:checked ~ #nav-content, #nav-toggle:checked ~ #nav-footer {
    width: var(--navbar-width-min);
 }
  
  #nav-toggle:checked ~ #nav-header #nav-title {
    opacity: 0;
    pointer-events: none;
    transition: opacity .1s; }
  
  #nav-toggle:checked ~ #nav-header label[for="nav-toggle"] {
    left: calc(50% - 8px);
    transform: translate(-50%); }
  
  #nav-toggle:checked ~ #nav-header #nav-toggle-burger {
    background: var(--navbar-light-primary);
  }
    #nav-toggle:checked ~ #nav-header #nav-toggle-burger:before, #nav-toggle:checked ~ #nav-header #nav-toggle-burger::after {
      width: 16px;
      background: var(--navbar-light-secondary);
      transform: translate(0, 0) rotate(0deg); }
  
  #nav-toggle:checked ~ #nav-content .nav-button span {
    opacity: 0;
    transition: opacity .1s; }
  
  #nav-toggle:checked ~ #nav-content .nav-button .fas {
    min-width: calc(30% - 16px); }
  
  #nav-toggle:checked ~ #nav-footer #nav-footer-avatar {
    margin-left: 0;
    left: 50%;
    transform: translate(-50%); }
  
  #nav-toggle:checked ~ #nav-footer #nav-footer-titlebox, #nav-toggle:checked ~ #nav-footer label[for="nav-footer-toggle"] {
    opacity: 0;
    transition: opacity .1s;
    pointer-events: none; }
  
  #nav-bar {
    box-shadow: inset 0 0 0 1px var(--navbar-light-secondary);
    position: fixed;
    left: 1vw;
    top: 1vw;
    height: calc(100% - 2vw);
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    color: var(--navbar-light-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    user-select: none; }
    #nav-bar hr {
      margin: 0;
      position: relative;
      left: 8px;
      width: calc(100% - 32px);
      border: none;
      border-top: solid 1px var(--navbar-light-secondary); }
    #nav-bar a {
      color: inherit;
      text-decoration: inherit; }
    #nav-bar input[type="checkbox"] {
      display: none; }
  
  #nav-header {
    position: relative;
    width: var(--navbar-width);
    left: 16px;
    width: calc(var(--navbar-width) - 16px);
    min-height: 80px;
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: width .2s; }
    #nav-header hr {
      position: absolute;
      bottom: 0; }
  
  #nav-title {
    font-size: 1.5rem;
    transition: opacity 1s; }
  
  label[for="nav-toggle"] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
  
  #nav-toggle-burger {
    margin-top: 50%;
    position: relative;
    width: 16px;
    height: 2px;
    background: var(--navbar-dark-primary);
    border-radius: 99px;
    transition: background .2s; }
    #nav-toggle-burger:before, #nav-toggle-burger:after {
      content: '';
      position: absolute;
      top: -6px;
      width: 10px;
      height: 2px;
      background: var(--navbar-light-primary);
      border-radius: 99px;
      transform: translate(2px, 8px) rotate(30deg);
      transition: .2s; }
    #nav-toggle-burger:after {
      top: 6px;
      transform: translate(2px, -8px) rotate(-30deg); }
  
  #nav-content {
    margin: -16px 0;
    padding: 16px 0;
    position: relative;
    flex: 1;
    width: var(--navbar-width);
    background: var(--navbar-dark-primary);
    box-shadow: 0 0 0 16px var(--navbar-dark-primary);
    direction: rtl;
    overflow-x: hidden;
    transition: width .2s; }
    #nav-content::-webkit-scrollbar {
      width: 8px;
      height: 8px; }
    #nav-content::-webkit-scrollbar-thumb {
      border-radius: 99px;
      background-color: #D62929; }
    #nav-content::-webkit-scrollbar-button {
      height: 16px; }

  #nav-content hr {
    margin: 0;
    position: relative;

    width: calc(100% - 32px);
    border: none;
    border-top: solid 1px var(--navbar-light-secondary); }
  
  #nav-content-highlight {
    position: absolute;
    left: 16px;
    top: -70px;
    width: calc(100% - 16px);
    height: 54px;
    background: var(--navbar-light-secondary);
    background-attachment: fixed;
    border-radius: 16px 0 0 16px;
    transition: top .2s; }
    #nav-content-highlight:before, #nav-content-highlight:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 100%;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      box-shadow: 16px 16px var(--navbar-light-secondary);
    }
    #nav-content-highlight:after {
      top: 100%;
      box-shadow: 16px -16px var(--navbar-light-secondary); }
  
  .nav-button {
    position: relative;
    margin-left: 14px;
    height: 54px;
    display: flex;
    align-items: center;
    color: var(--navbar-light-primary);
    direction: ltr;
    cursor: pointer;
    z-index: 1;
    transition: color .2s; }
    .nav-button span {
      transition: opacity 1s; }
    .nav-button .fas {
      transition: min-width .2s; }
    .nav-button:nth-of-type(1):hover {
      color: var(--navbar-light-primary); }
      .nav-button:nth-of-type(1):hover ~ #nav-content-highlight {
        top: 16px; }
    .nav-button:nth-of-type(2):hover {
      color: var(--navbar-light-secondary); }
      .nav-button:nth-of-type(2):hover ~ #nav-content-highlight {
        top: 70px; }
    .nav-button:nth-of-type(3):hover {
      color: var(--navbar-light-secondary); }
      .nav-button:nth-of-type(3):hover ~ #nav-content-highlight {
        top: 124px; }
    .nav-button:nth-of-type(4):hover {
      color: var(--navbar-light-secondary); }
      .nav-button:nth-of-type(4):hover ~ #nav-content-highlight {
        top: 178px; }
    .nav-button:nth-of-type(5):hover {
      color: var(--navbar-light-secondary); }
      .nav-button:nth-of-type(5):hover ~ #nav-content-highlight {
        top: 232px; }
    .nav-button:nth-of-type(6):hover {
      color: var(--navbar-light-secondary); }
      .nav-button:nth-of-type(6):hover ~ #nav-content-highlight {
        top: 286px; }
    .nav-button:nth-of-type(7):hover {
      color: var(--navbar-light-secondary); }
      .nav-button:nth-of-type(7):hover ~ #nav-content-highlight {
        top: 340px; }
    .nav-button:nth-of-type(8):hover {
      color: var(--navbar-dark-secondary); }
      .nav-button:nth-of-type(8):hover ~ #nav-content-highlight {
        top: 394px; } 
  
  

  #nav-bar .fas {
    min-width: 3rem;
    height: 25px;
    text-align: center; }
  
  #nav-footer {
    position: relative;
    width: var(--navbar-width);
    height: 54px;
    background: var(--navbar-dark-secondary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: width .2s, height .2s; }
  
  #nav-footer-heading {
    position: relative;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center; }
  
  #nav-footer-avatar {
    position: relative;
    margin: 11px 0 11px 16px;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(0);
    transition: .2s; }
    #nav-footer-avatar img {
      height: 100%; }
  
  #nav-footer-titlebox {
    position: relative;
    margin-left: 16px;
    width: 10px;
    display: flex;
    flex-direction: column;
    transition: opacity 1s; }
  
  #nav-footer-subtitle {
    color: var(--navbar-light-secondary);
    font-size: .6rem; }
  
  #nav-toggle:not(:checked) ~ #nav-footer-toggle:checked + #nav-footer {
    height: 30%;
    min-height: 54px; }
    #nav-toggle:not(:checked) ~ #nav-footer-toggle:checked + #nav-footer label[for="nav-footer-toggle"] {
      transform: rotate(180deg); }
  
  label[for="nav-footer-toggle"] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform .2s, opacity .2s; }
  
  #nav-footer-content {
    margin: 0 16px 16px 16px;
    border-top: solid 1px var(--navbar-light-secondary);
    padding: 16px 0;
    color: var(--navbar-light-secondary);
    font-size: .8rem;
    overflow: auto; }
    #nav-footer-content::-webkit-scrollbar {
      width: 8px;
      height: 8px; }
    #nav-footer-content::-webkit-scrollbar-thumb {
      border-radius: 99px;
      background-color: #D62929; }


/*-----------------------------------*\
  #LOGIN
\*-----------------------------------*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

.forms-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-title {
	font-size: 32px;
	letter-spacing: 1px;
	color: #fff;
}

.forms {
	display: flex;
	align-items: flex-start;
	margin-top: 30px;
}

.form-wrapper {
	animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
	animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
	50% {
		z-index: 1;
	}
	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}
	49.999% {
		z-index: 1;
	}
}

.switcher {
	position: relative;
	cursor: pointer;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 16px;
	letter-spacing: .5px;
	color: #999;
	background-color: transparent;
	border: none;
	outline: none;
	transform: translateX(0);
	transition: all .3s ease-out;
}

.form-wrapper.is-active .switcher-login {
	color: #fff;
	transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
	color: #fff;
	transform: translateX(-90px);
}

.underline {
	position: absolute;
	bottom: -5px;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 2px;
}

.underline::before {
	content: '';
	position: absolute;
	top: 0;
	left: inherit;
	display: block;
	width: inherit;
	height: inherit;
	background-color: currentColor;
	transition: transform .2s ease-out;
}

.switcher-login .underline::before {
	transform: translateX(101%);
}

.switcher-signup .underline::before {
	transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
	transform: translateX(0);
}

.form {
	overflow: hidden;
	min-width: 260px;
	margin-top: 50px;
	padding: 30px 25px;
  border-radius: 5px;
	transform-origin: top;
}

.form-login {
	animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
	animation: showLogin .3s ease-in forwards;
}

@keyframes showLogin {
	0% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
}

@keyframes hideLogin {
	0% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
}

.form-signup {
	animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
	animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
	0% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
}

@keyframes hideSignup {
	0% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
}

.form fieldset {
	position: relative;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: all .3s ease-out;
}

.form-login fieldset {
	transform: translateX(-50%);
}

.form-signup fieldset {
	transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
	opacity: 1;
	transform: translateX(0);
	transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.input-block {
	margin-bottom: 20px;
}

.input-block label {
	font-size: 14px;
  color: #a1b4b4;
}

.input-block input {
	display: block;
	width: 100%;
	margin-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 40px;
	color: #3b4465;
  background: #eef9fe;
  border: 1px solid #cddbef;
  border-radius: 2px;
}

.form [type='submit'] {
	opacity: 0;
	display: block;
	min-width: 120px;
	margin: 30px auto 10px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
	opacity: 1;
	transform: translateX(0);
	transition: all .4s ease-in;
}

.btn-login {
	color: #fbfdff;
	background: #004685;
	transform: translateX(-30%);
}

.btn-signup {
	color: #004685;
	background: #fbfdff;
	box-shadow: inset 0 0 0 2px #004685;
	transform: translateX(30%);
}


/*-----------------------------------*\
  #Loader
\*-----------------------------------*/

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

\:root {
  --bg: #e3e4e8;
  --fg: #17181c;
  --c1: #f42f25;
  --c2: #f49725;
  --c3: #255ff4;
  --c4: #9725f4;
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320)); }

.pl1, .pl2 {
  justify-content: space-around; }
  .pl1__a, .pl1__b, .pl1__c, .pl2__a, .pl2__b, .pl2__c {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    transform-origin: 50% 100%; }

.pl1__a, .pl1__b, .pl1__c {
  animation: bounce1 1s linear infinite; }

.pl2__a, .pl2__b, .pl2__c {
  animation: bounce2 2s linear infinite; }

.pl3, .pl4 {
  justify-content: space-between; }
  .pl3__a, .pl3__b, .pl3__c, .pl3__d, .pl4__a, .pl4__b, .pl4__c, .pl4__d {
    width: 0.75em;
    height: 0.75em; }

.pl3__a, .pl3__b, .pl3__c, .pl3__d {
  animation: bounce3 2s ease-in-out infinite;
  transform-origin: 50% 0; }

.pl4 {
  align-items: flex-end; }
  .pl4__a, .pl4__b, .pl4__c, .pl4__d {
    animation: bounce4 2s linear infinite;
    transform-origin: 50% 100%; }

.pl1, .pl2, .pl3, .pl4 {
  display: flex;
  margin: 1.5em;
  width: 6em;
  height: 6em; }
  .pl1__a, .pl2__a, .pl3__a, .pl4__a {
    background: var(--c1); }
  .pl1__b, .pl2__b, .pl3__b, .pl4__b {
    background: var(--c2);
    animation-delay: 0.1s; }
  .pl1__c, .pl2__c, .pl3__c, .pl4__c {
    background: var(--c3);
    animation-delay: 0.2s; }

.pl3__d, .pl4__d {
  background: var(--c4);
  animation-delay: 0.3s; }

/* Animations */
@keyframes bounce1 {
  from, to {
    transform: translateY(0) scale(1, 1);
    animation-timing-function: ease-in; }
  45% {
    transform: translateY(5em) scale(1, 1);
    animation-timing-function: linear; }
  50% {
    transform: translateY(5em) scale(1.5, 0.5);
    animation-timing-function: linear; }
  55% {
    transform: translateY(5em) scale(1, 1);
    animation-timing-function: ease-out; } }

@keyframes bounce2 {
  from, to {
    transform: translateY(0) scale(1, 1);
    animation-timing-function: ease-in; }
  9%, 29%, 49%, 69% {
    transform: translateY(5em) scale(1, 1);
    animation-timing-function: linear; }
  10% {
    transform: translateY(5em) scale(1.5, 0.5);
    animation-timing-function: linear; }
  11%, 31%, 51%, 71%, 91% {
    transform: translateY(5em) scale(1, 1);
    animation-timing-function: ease-out; }
  20% {
    transform: translateY(2.5em) scale(1, 1);
    animation-timing-function: ease-in; }
  30% {
    transform: translateY(5em) scale(1.25, 0.75);
    animation-timing-function: linear; }
  40% {
    transform: translateY(3.75em) scale(1, 1);
    animation-timing-function: ease-in; }
  50% {
    transform: translateY(5em) scale(1.125, 0.875);
    animation-timing-function: linear; }
  60% {
    transform: translateY(4.375em) scale(1, 1);
    animation-timing-function: ease-in; }
  70% {
    transform: translateY(5em) scale(1.0625, 0.9375);
    animation-timing-function: linear; }
  85% {
    transform: translateY(5em) scale(1, 1);
    animation-timing-function: ease-in; }
  90% {
    transform: translateY(5em) scale(1.875, 0.125);
    animation-timing-function: ease-in-out; } }

@keyframes bounce3 {
  from, 5%, 95%, to {
    transform: translateY(0) scaleY(1); }
  16.7% {
    transform: translateY(0) scaleY(8); }
  28.3%, 38.3% {
    transform: translateY(5.25em) scaleY(1); }
  50% {
    transform: translateY(2.625em) scaleY(4.5); }
  61.7%, 71.7% {
    transform: translateY(2.625em) scaleY(1); }
  83.3% {
    transform: translateY(0) scaleY(4.5); } }

@keyframes bounce4 {
  from, 20%, 40%, 60%, 80%, to {
    transform: scaleY(1);
    animation-timing-function: ease-out; }
  10% {
    transform: scaleY(8);
    animation-timing-function: ease-in; }
  30% {
    transform: scaleY(4);
    animation-timing-function: ease-in; }
  50% {
    transform: scaleY(2);
    animation-timing-function: ease-in; }
  70% {
    transform: scaleY(1.5);
    animation-timing-function: ease-in; } }

/* Dark theme */
@media (prefers-color-scheme: dark) {
  \:root {
    --bg: #17181c;
    --fg: #e3e4e8; } }


/*-----------------------------------*\
    #STATS
\*-----------------------------------*/

.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  height: 70vh;
}

.stats-grid div {
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.stats-grid div div {
  border: none;
  padding: 0;
  box-sizing: content-box;
  position: static;
}

.stats-grid div span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  border-radius: 5px;
  color: #cddbef;
  font-size: 3ch;
  font-weight: bold;
}

.dropdown {
  margin-left: 20px;
  margin-bottom: 10px;
  width: 200px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background: #f2f2f2;
}

.dropdown select {
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  cursor: pointer;
}

.dropdown select:focus {
  outline: none;
}

.stat-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

/* Styling for user comment */
#user-comment {
  margin-top: 20px;
}

#user-comment label {
  font-weight: bold;
}

#user-comment textarea {
  border: 3px dotted #004685;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  width: 100%;
  resize: vertical;
}

/* Styling for user rating */
#userRating {
  margin-top: 20px;
}

#userRating h3 {
  font-weight: bold;
  margin-bottom: 10px;
}


#userRating label {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}

#userRating label::before {
  content: '\2605'; /* Unicode character for star */
  display: inline-block;
  margin-right: 5px;
  font-size: 24px;
  color: #ccc; /* Default color for empty star */
}

#userRating input[type="radio"]:checked + label::before {
  color: #ffc107; /* Color for filled star */
}

#userRating button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#userRating button[type="submit"]:hover {
  background-color: #0056b3;
}

