/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(34, 38, 39);
    font-family: 'Inter', sans-serif;
    color: #fefefe;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: none;
}

/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/


/* Light Mode/Dark Mode */
/*
.dark-mode {
    background-color: #222627;
    color: #fefefe;
}

.light-mode {
    background-color: #fefefe;
    color: #222627;
}*/
  
.content {
    margin-left: 280px;
    padding: 20px;
}

.heading {
    color: #FFFFFF;
    text-align: left;
    font-weight: 700;
    font-size: 28px;
    padding-top: 20px;
   
}

.subheading{
    color: #474D4F;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    padding-top: 8px;
}

main {
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    color: #fefefe;
    font-weight: bold;
}

input[type="file"] {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}



button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #0056b3;
}

#summary {
    border: 3px dotted #007bff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Buttons to select the document */
.container {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.selectDocButton {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 325px;
}

.selectDocButton img {
    background-color: #1a1a1a;
    padding: 10px 10px;
    border-radius: 10px;
    margin-right: 10px; 
}

.button-title {
    font-size: 18px;
}

.button-subtext {
    font-size: 14px; 
    color: #1a1a1a; 
}

.button-text {
    display: flex;
    flex-direction: column;
}

.file-name {
    margin-top: 20px;
}



/*-----------------------------------*\
  # FILE MANAGER
\*-----------------------------------*/

.file-input{
    display: none;
}

.file-list {
    padding: 10px;
    max-height: 500px;
    overflow-y: auto;
}

.file-item{
    margin-bottom: 5px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:5px;
    border:2px dashed #fff;
    border-radius: 5px;
}

.file-image {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    filter: brightness(0) invert(1);
}

.delete-button{
    cursor: pointer;
    filter: greyscale(100%);
    margin-left: auto;
}

.drag-drop-container{
    position: fixed;
    bottom: 120px;
    right: 20px;
    left: 300px;
    height: 150px;
    border: 2px dashed blue;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: inline;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.drag-drop-container:hover{
    border: 5px dashed blue;
}

.drag-drop-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.drop-text{
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}

/*-----------------------------------*\
  # RATINGS
\*-----------------------------------*/

#userRating {
    display: none;
}



/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    padding: 20px;
    background-color: rgb(28, 28, 28);
    text-decoration: none;
}

.sidebar__nav__list {
    padding: 0;
    margin-top: 100px;
    list-style: none;
}

.sidebar__nav__list .nav__item {
    display: flex;
    align-items: center;    
    margin-bottom: 5px;
    height: 40px;

}

.sidebar__nav__list .nav__item .nav__link {
    display: flex;
    align-items: center;
    text-align: center;
}

.sidebar__nav__list .nav__item__active .nav__link {
    display: flex;
    align-items: center;
    text-align: center;
}

.sidebar__nav__list .nav__item .nav__link img {
    width: 19px;
    height: 19px;
    padding-left: 20px;
    
}

.sidebar__nav__list .nav__item .nav__link span {
    
    color: #FFFFFF;
    padding-left: 16px;
    font-weight: 500;
    font-size: 14px;
}

.sidebar__nav__list .nav__item__active {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    height: 40px;

    background-color: rgb(50, 51, 55);
    border-radius: 6px;
}

.sidebar__nav__list .nav__item__active .nav__link img {
    width: 19px;
    height: 19px;
    padding-left: 20px;
}

.sidebar__nav__list .nav__item__active .nav__link span {
    color: #FFFFFF;
    padding-left: 16px;
    font-weight: 500;
    font-size: 14px;
}

.logout__Button {
    background-color: #0088ff;
    border: none;
    color: white;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    text-decoration: none;

    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 360px;

}
