<!-- Universal Sidebar for all pages -->
<div class="sidebar">
    <img src="assets/images/citi.png" alt="Citi" width="89" height="50">
    <ul>
        <li><img src="assets/images/summ.svg" alt="Summarize Icon"><a href="llm-screen.html" class="active">Summarize Report</a></li>
        <li><img src="assets/images/file.svg" alt="Files Icon"><a href="file-manager.html" class="active">Files</a></li>
        <li><img src="assets/images/bar.svg" alt="Statistics Icon"><a href="index.html" class="active">Statistics</a></li>
        <li><img src="assets/images/cog.svg" alt="Settings Icon"><a href="settings.html" class="active">Settings</a></li>
    </ul>
</div>